#payViaSquare {
	p.wtsPayViaSquareButton {
		margin-top: 1rem;
		.mdc-button {
			&:focus {
				background-color: rgba(0, 0, 0, 0.04);
				outline: 2px solid var(--sys-on-background);
			}
			svg {
				height: 1rem;
				vertical-align: middle;
				path {
					fill: var(--sys-primary);
				}
			}
		}
	}
}
