.resources-menu-wrapper {
	position: relative;
	display: inline-block;
}

.resources-select-container {
	cursor: pointer;
	padding: 8px;
	border-radius: 50%;
	transition: background-color 0.2s;
	position: relative;
}

.resources-trigger {
	display: flex;
	svg path {
		fill: var(--sys-secondary);
	}
}

.nde-mat-icon-size {
	width: 24px;
	height: 24px;
}

.resource-option {
	padding: 12px 16px;
	text-decoration: none;
	color: var(--sys-on-surface-variant)!important;
	
	&:nth-child(5) {
		border-top: 1px groove var(--sys-outline);
	}

	svg {
		margin-right: .5rem;
		vertical-align: middle;
		path {
			fill: var(--sys-outline);
		}
	}

	span {
		font-size: 14px;
	}
}