.wtsReportRecord {
	display: flex;
	.mdc-button {
		height: 32px;
		line-height: 32px;
		border-radius: .3125rem;
		border: 1px solid var(--sys-primary);
		font-weight: inherit;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: .25rem;
		.mdc-button__label {
			font: var(--sys-body-medium);
			letter-spacing: var(--sys-body-medium-tracking);
			color: var(--mdc-text-button-label-text-color, var(--mat-sys-primary));
		}
		.mat-icon.icon-align-middle {
			margin-left: .2em;
			svg path {
				fill: var(--sys-outline);
			}
		}
	}
}