@if (recordErrorLink) {
	<div class="wtsReportRecord">
		<a [href]="recordErrorLink"
			target="_blank"
			rel="noopener noreferrer"
			mat-stroked-button
			[attr.aria-describedby]="'report-tooltip'"
			[matTooltip]="'fulldisplay.command.notright' | translate"
			matTooltipShowDelay="500"
			matTooltipHideDelay="2000"
			>
			{{ 'fulldisplay.command.notrightbutton' | translate }}
			<mat-icon iconPositionEnd class="nde-mat-icon-size icon-align-middle">
				<svg viewBox="0 0 24 24"
					height="100%"
					width="100%"
					aria-hidden="true"
					focusable="false"
					preserveAspectRatio="xMidYMid meet">
					<path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z"/>
				</svg>
			</mat-icon>
			<span class="sr-only">{{ 'nde.aria.opensInaNewTab' | translate }}</span>
		</a>
		<span id="report-tooltip" class="visually-hidden">{{ 'fulldisplay.command.notright' | translate }}</span>
	</div>
}
