:root {
 --sys-background: #f1f4f5;
 --sys-inverse-on-surface: #f1f4f5;
 --sys-on-primary-fixed: #f1f4f5;
 --sys-on-primary-fixed-variant: #f1f4f5;
 --sys-primary: #002a5c;
 --sys-primary-container: #9ec389;
 --sys-primary-fixed: #9ec389;
 --sys-secondary: #557989;
 --sys-secondary-container: #e2f3e1;
 --sys-secondary-fixed: #e2f3e1;
 --sys-secondary-fixed-dim: #c5e8c2;
 --sys-surface: #f0f9f0;
 --sys-surface-bright: #f0f9f0;
 --sys-surface-bright-container: #eef4f4;
 --sys-surface-container: #f1ecf9;
 --sys-surface-container-high: #e1eceb;
 --sys-surface-container-highest: #ccdedd;
 --sys-surface-container-low: #f2f7f7;
 --sys-surface-tint: #557989;
 --sys-CL-drop-shadow: #4b4b4b;
 --sys-CL-footer-background: #2b4e72;
 --sys-CL-header-border: #1a1a1a;
 --mat-menu-container-color: var(--sys-background);
}

body {
	& .cdk-overlay-container {
		& .cdk-global-overlay-wrapper:has(.mdc-snackbar) {
			/* Move login snackbar to top for better discoverabilty and grouping with user avatar */
			justify-content: flex-start!important;
			& .cdk-verlay-pane:has(.mdc-snackbar) {
				margin-right: 10rem!important;
			}
		}
		& .mat-icon[data-mat-icon-name="Open-in-a-new-window"] {
			& svg path {
				fill: var(--sys-outline);
			}
		}
	}
	& .container {
		& .search-container {
			margin: 0 0 1.5rem 0;
			& .top-bar-background-image {
				/*Change the Search Container Background*/
				& nde-search-bar-presenter {
					& button.advanced-search-button {
						/*Outline Introductory Title text*/
						text-shadow: -1px -1px 0 var(--sys-primary), 1px -1px 0 var(--sys-primary), -1px 1px 0 var(--sys-primary), 1px 1px 0 var(--sys-primary);
					}
				}
			}
			& .collection-discovery-header {
				/*Change the color of the Collection Discovery Container*/
				background: linear-gradient(270deg,var(--sys-background) 0%,var(--sys-secondary-container) 100%);
			}
			& .custom-search-bar-container {
				& .background-overlay {
					/*Change overlay color*/
					background-color: var(--sys-on-surface)!important;
					opacity:.65!important;
				}
				& h2 {
					/*Outline Introductory Title text*/
					text-shadow: -1px -1px 0 var(--sys-primary), 1px -1px 0 var(--sys-primary), -1px 1px 0 var(--sys-primary), 1px 1px 0 var(--sys-primary);
				}
				& > *:not(.background-overlay) {
					/*Shrink NDE Header Font-Size*/
					font-size: 2rem!important;
				}
			}
			& nde-full-display-details {
				/*Highlight Course Reserves Info*/
				& .full-display-detail[data-qa="detail_crsinfo"] {
					background-color: #dfe7eb;
					padding: .25rem;
					border: 1px inset var(--sys-outline-variant);
					border-radius: .25rem;
				}
				/*Format Contents Note*/
				& .full-display-detail[data-qa="detail_contents"] ul {
					list-style-type: unset;
					font-style: italic;
				}
			}
			& nde-full-display-service-container, & nde-entity-related-docs-list {
				& nde-view-it nde-view-it-section nde-view-it-card {
					.view-it-text {
						& .freeresource::before {
							display: inline-block;
							background-image: url('../images/OA_logo_green.svg');
							background-repeat: no-repeat;
							background-size: contain;
							position: relative;
							top: 2px;
							content: ' ';
							height: 17px;
							width: 16px;
						}
						a {
							color: #006400;
							mat-icon svg path {
								fill: var(--sys-outline);
							}
						}
					}
					& button {
						&:focus {
							outline: unset!important;
						}
						& :hover {
							text-decoration: underline;
						}
						& .package-name {
							color: #0f7d00;
							font-size: 1.2em;
							font-weight: var(--sys-body-medium-weight);
						}
						& .mat-icon {
							& svg g path {
								fill: var(--sys-outline);
							}
						}
					}
				}
				& nde-locations-container {
					& nde-location {
						& .location-brief-properties-container {
							display: contents;
							& .location-copies {
								font-size: .9em;
								font-style: italic;
							}
							& span[data-qa='location-sub-location'] {
								color: #943d56;
							}
						}
					}
				}
			}
			& nde-journal-database-layout-component {
				& > #journal-db-layout-container {
					& > .quick-filters-container {
						& > .flex-layout-space-between-center {
							& > .flex-row {
								gap: 1rem;
								align-items: center;
							}
						}
					}
				}
			}
			& nde-record-main-details {
				& .light-text {
					/*Make publication info text bolder and change color*/
					color:var(--sys-primary)!important; /*Change font color*/
				}
			}
			& nde-results-per-page {
				& .results-per-page mat-select {
					/*Change number of results per page font color*/
					color: var(--sys-surface-bright)!important;
					font-weight: 550!important;
					border-bottom: 1.5px solid inherit!important;
				}
			}
			& nde-results-range {
				& .number-of-results {
					/*Change number of search results color and make bolder*/
					color: var(--sys-on-primary)!important;
					font-weight: 600!important;
				}
			}
			& nde-search-results-container, & nde-full-display-container, & nde-journal-search-container {
				& nde-sort-by {
					/*Visually hide Sort By label*/
					& .sort-by-label {
						clip-path: inset(50%);
						position: absolute;
						width: 1px;
						height: 1px;
						margin: -1px;
						padding: 0;
						border: 0;
						overflow: hidden;
						clip: rect(0,0,0,0);
					}
				}
				& .search-result-content {
					& .filters-container {
						& .filters-wrapper {
							& nde-search-bar-filters {
								display:flex;
								width: inherit;
							}
						}
					}
					& .search-results-wrapper {
						& .did-you-mean-value {
							color: var(--sys-primary);
							font-style: italic;
							background-color: var(--sys-secondary-fixed);
						}
					}
				}
				& nde-search-results, & nde-search-result-item-container {
					& .display-inline-block {
						display: inline-flex;
					}
					& .mat-mdc-checkbox {
						/*Change checkbox color on search results bar*/
						--mdc-checkbox-unselected-icon-color: #88b1b8!important;
					}
					& .record-number {
						/*Adjust boldness, color and background of search result number*/
						color: var(--sys-surface-container-lowest)!important;
						background-color: #7eaf62!important;
						font-weight: 600!important;
					}
					& nde-paragraph-with-show-more-less-btn {
						& .mdc-button__label {
							/*Change 'read more' color and style*/
							font-style: italic!important;
							color:#005c32!important;
						}
					}
					& nde-record-availability {
						& button {
							& .mdc-button__label {
								white-space: nowrap;
								& .light-text {
									color: #0f7d00;
								}
								& .ng-star-inserted:nth-child(2) {
									color:#943d56;
								}
							}
						}
						& .responsive-availability-layout {
							display:inherit!important;
						}
					}
					& nde-record-image .record-thumbnail {
						border-radius: .25em;
						filter: drop-shadow(2px 2px 4px var(--sys-CL-drop-shadow));
						outline: none!important;
					}
					/*Make record title bigger and bolder*/
					& nde-record-title {
						& .record-title {
							& h3.mat-body-large {
								font-size: 1rem!important;
								font-weight: var(--sys-body-medium-weight)!important;
							}
							& nde-highlight {
								& > span.mat-body-medium {
									font-size: 1rem!important;
									font-weight: var(--sys-body-medium-weight)!important;
									& .ctm-highlight {
										font-size: 1rem!important;
										font-weight: var(--sys-body-medium-weight)!important;
									}
								}
							}
						}
					}
					& nde-record-type {
						display:inherit;
						height: 2rem;
						& .record-type {
							/*Change Record Type CSS*/
							background-color: #752c2e!important;
							font-size: .8rem!important;
							text-transform: uppercase!important;
							color: var(--sys-on-primary)!important;
							padding: .25em .4em;
							border-radius: .2em;
						}
					}
				}
				& nde-search-results-top-bar {
					& .checked-results {
						color: var(--sys-surface-bright);
					}
					& .mat-mdc-checkbox {
						&.mat-mdc-checkbox-checked {
							& .mdc-checkbox {
								& .mdc-checkbox__background {
									border-color: var(--sys-outline);
								}
								& svg path.mdc-checkbox__checkmark-path {
									stroke: #008000!important;
								}
							}
						}
						& .mdc-checkbox {
							& .mdc-checkbox__background {
								border-color: var(--sys-outline);
								background-color: var(--sys-background);
								&:hover {
									background-color: var(--sys-background);
									border-color: var(--sys-outline);
								}
							}
						}
					}
				}
			}
			& nde-search-results-recommendations {
				& nde-resource-recommender-card {
					& .carousel-resource-recommender-card {
						& mat-card-content {
							& .resource-img {
								object-fit: contain!important;
								padding: 1.5rem;
								height: fit-content;
							}
							& .mat-icon {
								& svg {
									height: 1em;
									g path {
										fill: var(--sys-outline);
									}
								}
							}
						}
					}
				}
			}
			& #resultsTopBarContainer {
				&.results-top-bar-container {
					background-color: var(--sys-primary)!important;
				}
				& .mat-icon {
					& svg path {
						/*Change icon color on search results bar - action icons*/
						fill: var(--sys-on-primary);
					}
				}
				& mat-icon {
					/*Change icon color on search results bar - dots*/
					fill: var(--sys-on-primary)!important;
				}
				& .mat-mdc-select-arrow {
					& svg {
						/*Change color of arrow on search results bar*/
						fill: #fad643!important;
					}
				}
			}
			& nde-search-result-item-container {
				& .results-container, & .search-result-item {
					& .filters-side-bar-content {
						visibility: visible;
					}
					& nde-record-indications, nde-search-result-journal-indication-line {
						& .record-indication-cont, & .journal-line-cont {
							vertical-align: middle;
							& div.display-inline, & .journal-line-text {
								/*padding: .25em .4em;
								border-radius: .25rem;
								border: 1px solid var(--sys-outline-variant);
								& span.record-indication {
									color: #3c3f43;
								}*/
							}
							& .mat-icon {
								height: 1rem;
								width: 1rem;
								&[data-mat-icon-name="Open-Access-Indicator"] svg g path {
									/*Change Open Access icon to orange*/
									fill: #f68212;
								}
								&[data-mat-icon-name="Peer-Reviewed-Indicator"] svg g {
									path, circle {
										/*Change Peer Reviewed icon to purple*/
										fill: #8359d4!important;
									}
								}
							}
							& .mat-divider.mat-divider-vertical {
								height: inherit;
								vertical-align: middle;
							}
						}
					}
				}
				& .search-result-item {
					& .ctm-highlight {
						text-decoration: 2px underline var(--sys-primary-fixed);
					}
				}
			}
		}
		& header {
			&.top-bar {
				/*Change header background color and add bottom border*/
				border-bottom: 1px outset var(--sys-CL-header-border)!important;
				/*Change header font to white*/
				--mdc-text-button-label-text-color: var(--sys-secondary)!important;
				/*nde-logo {
					display:none;
				}*/
				/* Stick Primo Header to top */
				position: sticky;
				top: 0;
				&.mat-elevation-z3 {
					/*Remove box shadow from header*/
					box-shadow: none;
				}
				& .mat-icon {
					/*Change action icon color*/
					fill: #196674!important;
					&.grey-icon-color-no-stroke svg g path {
						/*Change svg icon on header*/
						fill: var(--sys-secondary)!important;
					}
				}
				& .show-more-btn {
					& .mat-icon {
						& svg path {
							fill: var(--sys-secondary);
						}
					}
				}
				& mat-select-trigger {
					& svg path {
						fill: var(--sys-secondary)!important;
					}
					& > span {
						color: var(--sys-secondary)!important;
					}
				}
				& #mat-select-value-* > span > mat-select-trigger.custom-lang-dropdown span {
					/*Change icon color on search results bar - dots*/
					fill: var(--sys-on-primary)!important;
				}
				& nde-skip-links {
					/*Change font color of floating "skip to" container*/
					--mdc-text-button-label-text-color: #204d6a
				}
				& nde-user-area, & nde-main-menu {
					& mat-icon {
						& svg g path {
							fill: var(--sys-secondary)!important;
						}
					}
				}
			}
		}
		& nde-collection-discovery-container {
			& .results-container {
				& nde-collection-discovery-gallery-item {
					& .item-grid-card {
						border-radius: .5rem 4rem 0 0;
						/*border-bottom: none;*/
						& .grid-thumbnail-container img {
							border-radius: unset;
							filter: drop-shadow(1px 1px 2px var(--sys-CL-drop-shadow));
						}
					}
				}
			}
		}
		& nde-general-search-header {
			background-color: #0005;
			background-blend-mode: darken;
			& h1 {
				text-shadow: -1px -1px 0 var(--sys-primary), 1px -1px 0 var(--sys-primary), -1px 1px 0 var(--sys-primary), 1px 1px 0 var(--sys-primary);
			}
		}
	}
	& .mat-mdc-snack-bar-container {
		& .mat-mdc-snackbar-surface {
			/*Change background color of "please sign-in for more results" floating box*/
			background-color: #f1f1f2!important;
		}
	}
	& .pagination-container .current-page {
		cursor: auto;
	}
	& mat-mdc-form-field-flex {
		/*Change background color of Form Fields*/
		background-color: var(--sys-on-primary)!important;
	}
	& nde-language-selector-presenter mat-select {
		svg path {
			fill: var(--sys-on-primary)!important;
		}
		/* Remove Gap after Language Select Trigger */
		.lang-drop-down .mat-mdc-select-trigger {
			gap:unset!important;
		}
	}
	& nde-login-page {
		header {
			&.top-bar {
				background-color: var(--sys-secondary)!important;
				border-bottom: 1px outset var(--sys-outline-variant)!important;
				/*Change header font to white*/
				--mdc-text-button-label-text-color: var(--sys-on-primary)!important;
				& nde-language-selector-container {
					& #form-field-language-selector {
						& .custom-lang-dropdown {
							color: var(--sys-on-primary);
						}
					}
				}
			}
		}
		& .login-page-main {
			& nde-login-form-content {
				& .dedicated-login-page-wrapper {
					gap: unset;
					& mat-dialog-content {
						& .authentication-method-btn {
							& button[data-qa="SAML"] {
								width: 100%;
								background-color: var(--sys-surface-container-lowest);
								& .authentication-method {
									& span {
										background: 0% center / contain no-repeat url("../images/loginPage/btn_google_light_normal_ios.svg")!important;
										font: 500 1.1em "Roboto","Helvetica Neue",sans-serif!important;
										height: 3.3rem;
										display:flex;
										align-items:center;
										padding:0 0 0 3.6rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	#wts-menu {
		float: left;
		width: 250px;
		height: 81px;
		position: relative;
		z-index: 10;
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}
}

@media (max-width: 999.98px) {
	#wts-menu {
		& .navbar {
			float:none;
			margin: 0 auto;
			logo a {
				margin: 0 auto;
			}
		}
	}
}

@media (max-width: 599.98px) {
	header {
		& nde-main-menu {
			& .main-menu-mobile-btn {
				& .mat-icon {
					& svg path {
						fill: var(--sys-secondary);
					}
				}
			}
		}
		& nde-language-selector-container {
			& .language-btn-mobile {
				& .mat-icon {
					& svg path {
						fill: var(--sys-on-primary);
					}
				}
			}
		}
	}
	& nde-mobile-filters-toggle {
		& .all-filters-btn {
			background-color: var(--sys-primary)!important;
			& .mat-icon {
				& svg path {
					fill: var(--sys-on-primary);
				}
			}
		}
	}
}