.external-search-wrapper {
	position: inherit;
	display: inline-block;
	margin-right: 1em;
}

.external-search-container {
	transition: background-color 0.2s;
	position: relative;
}

.external-search-trigger {
	.trigger-text {
		white-space: nowrap;
		display: flex;
	}
	svg.grey-icon-color {
		vertical-align: middle;
		path {
			fill: var(--sys-primary);
		}
	}
}

.external-option {
	padding: 12px 16px;
	
	&:focus {
		outline: 2px solid #0078d4;
		outline-offset: -2px;
	}
	svg {
		margin-right: .5rem;
		vertical-align: middle;
		path {
			fill: var(--sys-outline);
		}
	}
	span {
		font-size: 14px;
		color: var(--sys-on-surface-variant);
	}
}