.wtsZoteroInCitation {
	margin: 1rem;
	a {
		&.mdc-button {
			display:flex;
			height:auto;
			&:focus {
				background-color: rgba(0, 0, 0, 0.04);
				outline: 2px solid var(--sys-on-background);
			}
			img {
				vertical-align:middle;
				margin: .25rem;
			}
			svg {
				vertical-align:middle;
				path {
					fill: var(--sys-outline);
				}
			}
		}
	}
}